html body {
	 font-family: arial,x-locale-body,sans-serif;
	 font-size: 16px;
	 line-height: 1.75;
	 padding: 0;
	 margin: 0;
}

/*header - navigation*/
header nav {
	max-width: 1400px;
	margin: 0 auto;
	padding: 36px 24px 24px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none; 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav ul li {
	position: relative;
}

header nav ul li a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

header nav ul li a:last-chikd:hover {
	text-decoration: underline;
}

.arrow {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.arrow:hover {
	text-decoration: none;
}

.arrow::before {
    content: url(https://developer.mozilla.org/static/media/triangle.e8097649.svg);
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);
    width: 12px;
}

header nav ul li input {
	border: 2px solid #212121;
    color: #212121;
    min-width: 60px;
    padding: 10px 12px;
    width: 100%;
	
}

header nav ul li:nth-child(5)::after {
	content: url(https://developer.mozilla.org/static/media/search.db31d27c.svg);
	position: absolute;
	z-index: 99;
	display: inline-block;
    width: 25px;
	left: 83%;
	top: 16%;
}

/*breadcrumbs & language select*/
.conteiner {
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto;
}

.breadcrumbs ul {
	margin: 0;
	padding: 24px;
}

.breadcrumbs ul li {
	display: inline;
}

.breadcrumbs ul li:first-child::before {
	content: "";
}

.breadcrumbs ul li::before {
	content: ">";
    font-family: cursive;
    font-size: 29px;
    font-weight: bold;
    line-height: 0;
    margin: 4px;
    position: relative;
    top: 2px;
}
.language-option {
	padding: 12px 24px;
}

/*titile - style*/
h2 {
	font-size: 26px;
	font-family: zillaslab,palatino,"Palatino Linotype",serif;
}

.header-devider-title {
	width: 100%;
	background-color: #eee;
    border-bottom: 1px solid #cdd5d7;
    border-top: 1px solid #cdd5d7; 
}

.header-devider-title h1{
	font-family: zillaslab,palatino,"Palatino Linotype",serif;
	font-size: 48px;
	margin: 0 auto;
    max-width: 1400px;
    padding: 24px;
}

/* info - blocks*/
.attention-block {
	background-color: #fef1b6;
	border-left: 6px solid #e1c542;
	padding: 12px;
	box-sizing: border-box;
}
.attention-block p {
	margin: 0;
	max-width: 70%;
}

.info-block {
	background-color: #dcf4ff;
	border-left: 6px solid #1e7f9d;
	padding: 12px;
	box-sizing: border-box;
}

.info-block p {
	margin: 0;
	max-width: 70%;
}

.code-example-container {
	background-color: #EEEEEE;
	border-left: 6px solid #00458b;
	padding: 24px;
	line-height: 1.4;
}

.code-example-container span {
	font-weight: 600;
	color: #905;
}

/* link custom style*/

.link-underline-style {
	text-decoration: underline;
	color: black;
}

.link-underline-style:hover{
	text-decoration: none;
}

.link-bg-style {
	background-color: #eeeeee;
	text-decoration: none;
	color: #00458B;
	padding: 0 3px;
}

.link-bg-style:hover {
	text-decoration: underline;
}

.link-style {
	text-decoration: none;
	color: #00458B;
}

.link-style:hover {
	text-decoration: underline;
}

.link-title-style {
	text-decoration: none;
	color: #000000;
}

.link-title-style:hover {
	text-decoration: underline;
}

.link-style-last-breadcrumbs {
	text-decoration: none;
	color: black;
}

.link-style-last-breadcrumbs:hover {
	text-decoration: underline;
}

.footer-link-style {
	color: white;
	text-decoration: none;	
}

.footer-link-style:hover {
	color: white;
	text-decoration: underline;
}
.social-link a{
	text-decoration: none;
}

.social-link a:hover {
	text-decoration: none;
}

/* table style */
.custom-table-style {
	background-color: #fafafa;
	border-collapse: collapse;
	border: 2px solid #00458b;
	border-left: 6px solid #00458b;
	max-width: 70%;
}

.custom-table-style th, .custom-table-style td {	
	border-top: 2px solid #00458b;
	padding: 12px;
	text-align: left;
}

.custom-table-style th p {
	margin: 0;
	margin-bottom: 24px;
}

 .standart-table-style table, .standart-table-style th, .standart-table-style td{
		border-collapse: collapse;
		border: 1px solid #c9c9c9;
		padding: 12px;
		text-align: left;
}

.standart-table-style table {
	margin-bottom: 48px;
}

/* content page view */
article {
	display: flex;
	max-width: 1400px;
	margin: 0 auto;
}

article div p {
	max-width: 70%;
}

article aside {
	max-width: 350px;
	box-sizing: border-box;
}

/* left side bar */
article aside nav {
	width: 350px;
	box-sizing: border-box;
	padding: 12px 24px;
}

article aside nav h2 {
	margin: 0;
}

article aside nav ul {
	margin: 16px 0;
	padding: 0 24px 0 0;
	list-style: none;
}

article section {
	padding: 12px 24px;
}

/* footer */
footer {
	background-color: #212121;
	padding: 48px 24px;
}

.footer-content-wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.page-divider {
	background-color: #EEEEEE;
}

.page-divider p {
	max-width: 1400px;
	margin: 0 auto;
	padding: 24px;
}

.footer-colum {
	display: flex;
}

.footer-colum ul {
	margin: 0 20% 0 0;
	padding: 0;
	list-style: none;
}
.footer-colum ul li{
	padding: 10px 0;
}

.social-link p {
	color: white;
	display: inline-block;
	
}

footer hr {
	margin: 54px 0 0 0; 
}

.copyright {
	color: white;
	padding:30px 0 0 0;
	margin:0 0 30px 0;
}

button {
	background-color: #216b82;
    border: 2px solid #216b82;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

article {
	margin-bottom: 96px;
}